<template>
  <div
    class="text-center meeting_card"
    :class="[dayStatus]"
    align-self="center"
  >
    <a
      class="mt-2 card-header text-subtitle-2 text-md-subtitle-1"
      v-if="dayStatus != 'lastday_card'"
      href="#"
    >
      {{ title }}
    </a>
    <h5 v-else class="card-header text-subtitle-2 text-md-subtitle-1" href="#">
      {{ title }}
    </h5>
    <br v-if="dayStatus != 'lastday_card'" />
    <span v-if="dayStatus === 'lastday_card'" class="body-2"
      >via {{ app }}
    </span>
    <a class="body-2 app_use" href="#" v-else>via {{ app }}</a>
    <button
      :disabled="dayStatus === 'lastday_card'"
      @click="
        addEvent(
          'BrightID meeting:' + title,
          {
            dateTime:
              justYear + '-' + month + '-' + day + 'T' + startTime + ':00',
            timeZone: timeZone,
          },
          {
            dateTime:
              justYear + '-' + month + '-' + day + 'T' + endTime + ':00',
            timeZone: timeZone,
          },
          link
        )
      "
      class="card_btn white--text d-none d-md-inline"
      dark
    >
      Add to my calendar
    </button>
    <v-dialog v-model="dialog" width="500">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Google calendar
        </v-card-title>

        <v-card-text v-if="addEventSuccess"
          >Event has been set successfully.</v-card-text
        >
        <v-card-text v-else>
          You should login google account first!</v-card-text
        >

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="dialog = false"> OK! </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
// import VueGAPI from "vue-gapi";
var monthToNum = {
  Jan: "1",
  Feb: "2",
  Mar: "3",
  Apr: "4",
  May: "5",
  June: "6",
  July: "7",
  Aug: "8",
  Sept: "9",
  Oct: "10",
  Nov: "11",
  Dec: "12",
};
export default {
  name: "HelloWorld",
  props: {
    title: String,
    app: String,
    link: String,
    dayStatus: String,
    time: String,
    date: String,
    year: String,
    timeZone: String,
  },
  data() {
    return {
      gapi: undefined,
      hoverclass: "hoverclass",
      weekPeriod: "",
      dialog: false,
      setEventStatus: false,
    };
  },
  computed: {
    addEventSuccess: function () {
      return this.dialog && this.isAuthenticated();
    },
    startTime: function () {
      return this.time.split("-")[0];
    },
    endTime: function () {
      return this.time.split("- ")[1];
    },
    justYear: function () {
      return this.year.split(",")[1];
    },
    month: function () {
      return monthToNum[this.date.split(" ")[0]];
    },
    day: function () {
      return this.date.split(" ")[1];
    },
  },
  methods: {
    isAuthenticated() {
      return this.$isAuthenticated();
    },
    initClient(summary, start, end, location) {
      if (this.isAuthenticated()) {
        this.createEvent(summary, start, end, location);
      } else {
        this.$login();
      }
    },
    addEvent(summary, start, end, location) {
      this.$gapi.getGapiClient().then((gapi) => {
        // gapi.sheets.spreadsheet.get(...)
        // ...
        this.gapi = gapi;
        this.initClient(summary, start, end, location);
      });
      this.dialog = true;
    },
    createEvent(summary, start, end, location) {
      var event = {
        summary: summary,
        location: location,
        start: start,
        end: end,
      };
      var request = this.gapi.client.calendar.events.insert({
        calendarId: "primary",
        resource: event,
      });

      request.execute(function () {
        // console.log("Event created: " + event.htmlLink);
        alert("shod");
      });
    },
  },
};
</script>

<style scoped>
.meeting_card {
  font-family: "Poppins", sans-serif !important;
}
.v-application {
  font-family: "Poppins", sans-serif !important;
}
.card_btn,
.v-application .white--text,
.v-application .text-h3,
.v-application .text-h4,
.v-application .text-h5,
.v-application .text-subtitle-1,
.v-application .body-2 {
  font-family: "Poppins", sans-serif !important;
}
.today_card {
  color: black;
  width: 100%;
  /* height: 100px; */
  padding-bottom: 10px;
  border: 1px #ed7a5d solid;
  border-radius: 10px;
}
.lastday_card {
  color: gray;
  width: 100%;
  /* height: 100px; */
  padding-bottom: 10px;
  border: 1px gray solid;
  border-radius: 10px;
}

.lastday_card .card-header {
  color: gray;
}
.lastday_card .card_btn {
  background-color: gray !important;
}
.lastday_card h5 {
  color: gray;
}
.tomarow_card {
  color: black;
  width: 100%;
  /* height: 100px; */
  padding-bottom: 10px;
  border: 1px gray solid;
  border-radius: 10px;
}
.card:hover {
  background-color: #ffe4dd;
  cursor: pointer;
}
.card-header {
  color: #ed7a5d;
  text-decoration: none !important;
}
.lastday .card-header {
  color: gray;
}
.card h5 :hover {
  color: white !important;
}

.card_btn {
  z-index: 998;
  font-size: 8px !important;
  border-radius: 10px;
  padding: 5px 10px !important;
  width: 90% !important;
  height: 25px !important;
  background-color: #1da1f2 !important;
}
.join_meet {
  color: white;
}
.hoverclass {
  background-color: #ed7a5d;
}
.app_use {
  color: black;
  text-decoration: none;
}
.app_use:hover {
  text-decoration: underline;
}
</style>
